* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: "Poppins", sans-serif;
    height: 100%;
    background-color: #264653;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  }
  
  .d-none {
    display: none !important;
  }
  
  .card {
    background-color: #2a2a2a;
    border-radius: 25px;
    aspect-ratio: 4/3;
    max-width: 1024px;
    min-width: 720px;
    padding: 24px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  
  .score-card {
    background-color: #2a2a2a;
    color: #fff;
    border-radius: 25px;
    position: relative;
    aspect-ratio: 3/4;
    min-width: 500px;
    padding: 24px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  main {
    /* height: calc(100% - 80px); */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .question-container {
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent-color);
    border-radius: 25px;
    box-shadow: 0 0 50px 15px var(--question-shadow);
    background-color: #414141;
    min-width: 900px;
  }
  
  .question-container > h1 {
    color: #fff;
    font-size: 32px;
  }
  
  .solutions-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    /* margin-top: auto; */
  }
  
  .solutions-container > * {
    flex: 0 0 calc(50% - 12px);
  }
  
  .answer {
    background-color: #414141;
    box-shadow: 0 0 50px 15px var(--answer-shadow);
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    padding: 4px 12px;
    color: #fff;
    font-size: 24px;
    min-height: 74px;
    transition: all 0.12s ease-in-out;
  }
  
  .answer:hover {
    cursor: pointer;
    background-color: #595959;
    box-shadow: 0 0 50px 15px var(--answer-hover-shadow);
  }
  
  .answer:active {
    background-color: 121212;
    box-shadow: 0 0 50px 15px var(--answer-active-shadow);
  }
  
  .correct,
  .correct:hover {
    background-color: #51cf66;
    box-shadow: 0 0 50px 15px rgba(81, 207, 102, 0.5);
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #fa5252 !important;
    box-shadow: 0 0 50px 15px rgba(250, 82, 82, 0.5) !important;
  }
  
  .base-timer {
    position: relative;
    width: 300px;
    height: 300px;
  }
  
  .base-timer__svg {
    transform: scaleX(-1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: #121212;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
  }
  
  .base-timer__path-remaining.white {
    /* color: rgb(65, 184, 131); */
    color: #fff;
  }
  
  .base-timer__path-remaining.red {
    color: #f03e3e;
  }
  
  .base-timer__label {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    color: #fff;
  }
  
  .score-card > h1 {
    margin-bottom: 48px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    margin-bottom: 24px;
  }
  
  .row > p {
    max-width: 50%;
  }
  
  .quizInfo {
    width: 100%;
  }
  
  #overall {
    font-size: 24px;
    /* / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / */
  }
  
  .overall {
    margin-bottom: 32px;
    /* 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
  }
  
  #confirm {
    background-color: #2a9d8f;
    color: #fff;
    width: calc(100% - 48px);
    border: none;
    border-radius: 50px;
    padding: 8px 12px;
    font-size: 24px;
    box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 24px;
  }
  
  #confirm:hover {
    cursor: pointer;
    background-color: #55b1a5;
  }
  
  #confirm:active {
    background-color: #227e72;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
      background-image: none !important;
      width: 100%;
      height: 100%;
    }
  
    .card {
      width: 100%;
      min-width: 0;
      border-radius: 0;
      height: 100%;
    }
  
    .question-container {
      width: 100%;
      min-width: 0;
      padding: 16px;
    }
  
    .question-container > h1 {
      font-size: 24px;
      /* 0 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / */
    }
  
    .solutions-container > * {
      flex: 0 0 100%;
    }
  
    .answer {
      font-size: 20px;
      min-height: 60px;
    }
  
    .base-timer {
      width: 200px;
      height: 200px;
    }
  
    .base-timer__label {
      width: 200px;
      height: 200px;
    }
  }
  