/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

:root {
  --sea-color: #2a9d8f;
  --sea-color-light: #55b1a5;
  --sea-color-dark: #227e72;
  --blue-color-dark: #264653;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn:visited,
.btn {
  background-color: var(--sea-color);
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  padding: 8px 12px;
  font-size: 24px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
}
.btn:hover {
  cursor: pointer;
  background-color: var(--sea-color-light);
}

.btn:active {
  background-color: var(--sea-color-dark);
}

.btn-big {
  width: 100%;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background-color: #e9c46a;
}

body {
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  height: calc(100% - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  height: 80px;
}

nav > a,
nav > a:visited,
nav > a:active {
  text-decoration: none;
  color: #2a2a2a;
  flex-grow: 1;
  padding: 4px 16px;
  font-size: 20px;
  font-weight: 600;
}

nav > a:hover {
  text-decoration: underline;
}

.spacer {
  position: absolute;
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  bottom: 0;
  z-index: 1;
}

.layer1 {
  background-image: url("../assets/wave.svg");
}

.logo {
  font-size: 36px;
  font-weight: 600;
  color: #2a2a2a;
  text-decoration: none;
}

.logo > span {
  color: var(--sea-color);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  max-width: 1024px;
  padding: 0 48px;
  gap: 48px;
  margin-top: -80px;
}

.home-text-box h1 {
  font-size: 52px;
  line-height: 1.02;
  margin-bottom: 24px;
}

.home-text-box p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 32px;
}

.home-text-box {
  flex-grow: 2;
  color: var(--blue-color-dark);
}

.home-image {
  background-image: url("../assets/History.jpg");
  flex-grow: 1;
  aspect-ratio: 2/3;
  width: 100%;
  background-position: center;
  background-size: cover;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08),
    inset 0 0 0 1000px rgba(42, 157, 143, 0.5);
  border-radius: 25px;
}

.card {
  background-color: #fff;
  border-radius: 25px;
  padding: 24px;
  margin-top: -80px;
}

.card h2 {
  color: var(--blue-color-dark);
  margin-bottom: 24px;
}

.topics-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 48px;
  width: 100%;
  flex-wrap: wrap;
}

.topic {
  border-radius: 50px;
  padding: 4px 12px;
  color: #2a2a2a;
  border: 2px solid #2a2a2a;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.topic:hover {
  cursor: pointer;
  border: 2px solid var(--sea-color);
  color: var(--sea-color);
  background-color: #fff;
}

.topic:active {
  cursor: pointer;
  border: 2px solid var(--sea-color-dark);
  color: var(--sea-color-dark);
  background-color: #fff;
}

.topic-checked {
  background-color: var(--sea-color);
  color: #fff;
  border-color: var(--sea-color);
}

.topic-checked:hover {
  cursor: pointer;
  border: 2px solid var(--sea-color-light);
  background-color: var(--sea-color-light);
  color: #fff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
}

.difficulty-container {
  display: flex;
  direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}

.difficulty-setting {
  text-align: center;
  color: #2a2a2a;
  font-weight: 600;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.setting-active {
  opacity: 1;
}

.difficulty-setting:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.difficulty-setting:active {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.smiley {
  background-position: center;
  background-size: cover;
  width: 74px;
  height: 74px;
}

.contact-box-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.easy {
  background-image: url(../assets/smiley-fill.svg);
}

.medium {
  background-image: url(../assets/smiley-meh-fill.svg);
}

.hard {
  background-image: url(../assets/smiley-x-eyes-fill.svg);
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  header {
    display: none;
  }

  main {
    height: 100%;
    width: 100%;
  }

  .wave2,
  .wave {
    display: none;
  }

  .card {
    position: relative;
    background-color: #fff;
    border-radius: 0;
    padding: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  .topics-container {
    margin-bottom: 64px;
    /* 48 / 64 / 80 / 96 / 128 */
  }

  .btn-big {
    position: absolute;
    bottom: 16px;
    width: calc(100% - 24px);
  }

  .container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  /* 0 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / */
  .home-image {
    display: none;
  }

  .home-text-box h1 {
    font-size: 44px;
    line-height: 1.02;
    margin-bottom: 24px;
  }

  .home-text-box p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 32px;
  }

  .home-text-box {
    flex-grow: 1;
    color: var(--blue-color-dark);
    position: relative;
    height: 100%;
    padding: 48px 16px;
  }

  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 24px);
    position: absolute;
    bottom: 24px;
    height: 66px;
  }

  .difficulty-setting:active {
    transform: scale(1);
  }
}
