.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
    transform: rotateY(180deg);
  }
  
  .wave .shape-fill {
    fill: #e76f51;
  }
  
  .wave2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }
  
  .wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 154px;
  }
  
  .wave2 .shape-fill {
    fill: #e76f51;
  }