.answer {
    background-color: #414141;
    box-shadow: 0 0 50px 15px var(--answer-shadow);
    border: 2px solid var(--accent-color);
    border-radius: 50px;
    padding: 4px 12px;
    color: #fff;
    font-size: 24px;
    min-height: 74px;
    transition: all 0.12s ease-in-out;
  }
  
  .answer:hover {
    cursor: pointer;
    background-color: #595959;
    box-shadow: 0 0 50px 15px var(--answer-hover-shadow);
  }
  
  .answer:active {
    background-color: #343434;
    box-shadow: 0 0 50px 15px var(--answer-active-shadow);
  }
  
  .correct,
  .correct:hover {
    background-color: #51cf66 !important;
    box-shadow: 0 0 50px 15px rgba(81, 207, 102, 0.5);
  }
  
  .incorrect,
  .incorrect:hover {
    background-color: #fa5252 !important;
    box-shadow: 0 0 50px 15px rgba(250, 82, 82, 0.5) !important;
  }

  @media only screen and (max-width: 768px) {
    .answer {
      font-size: 20px;
      min-height: 60px;
    }

    .answer:hover {
      background-color: #414141;
    }
  }