.difficulty-container {
  display: flex;
  direction: row;
  justify-content: space-around;
  margin-bottom: 80px;
}

.difficulty-setting {
  text-align: center;
  color: #2a2a2a;
  font-weight: 600;
  opacity: 0.5;
  transition: all 0.1s ease-in-out;
}

.setting-active {
  opacity: 1;
}

.difficulty-setting:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 1;
}

.difficulty-setting:active {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 1;
}

.smiley {
  background-position: center;
  background-size: cover;
  width: 74px;
  height: 74px;
}

.easy {
  background-image: url(../../assets/smiley-fill.svg);
}

.medium {
  background-image: url(../../assets/smiley-meh-fill.svg);
}

.hard {
  background-image: url(../../assets/smiley-x-eyes-fill.svg);
}

@media only screen and (max-width: 768px) {
  .difficulty-setting:active {
    transform: scale(1);
  }
}
